body {
  color: blue;

}
h1 {
  color: red;
}
 li {
  display: block;
  float: right;
  padding: 0.5em;

}
ul {
margin-right: 16em;
}
main ul li {
  display:inline;
  width: 10em;
    padding: 0.2em;
    border: 5px solid navy;
    margin: 0.2em;
}
div {
  display: inline-block;
  width: 15em;
    padding: 2em;
    border: 5px
     solid navy;
    margin: 2em;
}

img {
  width: 40%
}
main div .slide_image
{
  width: 7em;
  margin-left: 80%;
  float:right;
}
